@charset "utf-8";
/* CSS Document*/
/*Define the body element's color*/
body
{
    background-image: url("map-background.png");
    background-repeat: repeat;
}
table {
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 14px;
}
td.heading {
    border-bottom: 1px solid #FFF;
    background-color: #5070A0;
    color: #FFF;
    text-align: center;
}
td.altheading {
    border-bottom: 1px solid #FFF;
    background-color: #305080;
    color: #FFF;
    text-align: center;
}
td.alt {
    background-color: #E0E0D0;
}
td {
    background-color: #FFFFFF;
}
