@charset "utf-8";
/* CSS Document*/
/*Define the body element's color*/
body
{
    background-image: url("trizbkgd.png");
    background-repeat: repeat;
}
.code {
    background-color: #FFF;
    color: #000;
    border: 1px solid #B0B090;
    padding: 2px;
    line-height: 23px;
    font-family: Consolas,Courier New,Courier,serif;
    font-size: 12px;
}
.menufind {
    background-color: #e5e5e5;
    color: #0000c0;
    border: 1px solid #4040c0;
    padding: 2px;
    line-height: 23px;
    font-family: Consolas,Courier New,Courier,serif;
    font-size: 12px;
}
.accel {
    background-color: #e5ffe5;
    color: #008000;
    border: 1px solid #00c000;
    padding: 2px;
    line-height: 23px;
    font-family: Consolas,Courier New,Courier,serif;
    font-size: 12px;
}
.tip {
    float: right;
    clear: both;
    border: 2px solid #B0B090;
    background-color: #E0E0D0;
    color: #000;
    padding: 0px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
}
.tip .heading {
    background-color: #305080;
    color: #FFF;
    font-variant: small-caps;
    font-weight: bold;
    padding: 2px;
    text-align: center;
}
.tip .body {
    padding: 0px 8px 8px;
        padding-top: 0px;
        padding-right-value: 8px;
        padding-bottom: 8px;
        padding-left-value: 8px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
}
.tip .quote {
    background-color: #FFF;
    color: #000;
    border: 1px solid #B0B090;
    padding: 2px;
    line-height: 23px;
}
table {
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 14px;
}
td.heading {
    border-bottom: 1px solid #FFF;
    background-color: #5070A0;
    color: #FFF;
    text-align: center;
}
td.altheading {
    border-bottom: 1px solid #FFF;
    background-color: #305080;
    color: #FFF;
    text-align: center;
}
td.alt {
    background-color: #E0E0D0;
}
td.blank {
    background-color:#b0b0b0;
}
td {
    background-color: #FFFFFF;
}
.indent_without_columns {
    padding-left: 48px;
    padding-right: 25%;
}
.term {
    color: #330033;
    font-style: italic;
}
.emphatic {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
h1 {
    font-size: 40px;
    text-align: center;
}
h2 {
    font-size: 30px;
}
/* ctrl = red shift = yellow alt = blue combos = color combos */
.ctrls {
    background-color: #000000;
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: 2px;
    line-height: 23px;
    font-family: Consolas,Courier New,Courier,serif;
    font-size: 12px;
}
.shifts {
    background-color: #000000;
    color: #ffff00;
    border: 1px solid #ffff00;
    padding: 2px;
    line-height: 23px;
    font-family: Consolas,Courier New,Courier,serif;
    font-size: 12px;
}
.ctrlshifts {
    background-color: #000000;
    color: #ff8000;
    border: 1px solid #ff8000;
    padding: 2px;
    line-height: 23px;
    font-family: Consolas,Courier New,Courier,serif;
    font-size: 12px;
}
.alts {
    background-color: #000000;
    color: #6060ff;
    border: 1px solid #6060ff;
    padding: 2px;
    line-height: 23px;
    font-family: Consolas,Courier New,Courier,serif;
    font-size: 12px;
}
.ctrlalts {
    background-color: #000000;
    color: #c000c0;
    border: 1px solid #c000c0;
    padding: 2px;
    line-height: 23px;
    font-family: Consolas,Courier New,Courier,serif;
    font-size: 12px;
}
